.searchBox {
    padding: 8px 5px;
    margin-top: 15px;
    border-radius: 8px;
    opacity: 50%;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    .SearchInp {
        width: 33%;
        margin: 5px 10;

    }


}